.sidebar {
    position: fixed;
    left:0;
    bottom:0;
    top: 55px;
    background-color: var(--primary-color);
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}

.sidebar-link:hover {
    background-color: rgb(235,235,235);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size:10px;
    color:var(--secondary-color);
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #212121;
    --secondary-color: white;
}
